* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-details, .personal-details {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 30vw;
}

.login-details> *, .personal-details > * {
    margin: 1rem;
    padding: .5rem;
}

.login-details h1, .personal-details h1 {
    color: brown;
}

.login-details span, .personal-details span {
    margin: 0;
    padding: 0;
    color: red;
}

.prev-next {
    background-color: lightgreen;
    min-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.prev-next button{
    padding: .5rem;
}