@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form, .confirmation {
    background-color: #EEE2DC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 25vw;
}

form > *, .confirmation > * {
    margin: 1rem;
    padding: .5rem;
}

form h1, .confirmation h1 {
    color: #123C69;
    font-size: 1.7rem;
}

form span {
    margin: 0;
    padding: 0;
    color: red;
}

form div {
    min-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form button {
    padding: .5rem 1rem;
    border: none    ;
    background-color: #AC3B61;
    color: white;
}

.confirmation p {
    font-size: 1.2rem;
}